button.myDialogButton{
	width:55px;
	height: 55px;
	cursor: pointer;
}

#dropBoxButton{
	background: url(http://upload.wikimedia.org/wikipedia/de/3/3a/Dropbox_Logo_02.svg) no-repeat;
	background-size: 50px 50px; 	
}

#googleDriveButton{
	background: url(http://upload.wikimedia.org/wikipedia/commons/9/9b/Logo_of_Google_Drive.png) no-repeat;
	background-size: 50px 50px; 	
}

#myDialogBox
{
	position: absolute;
  	left: 90px;
  	top: 120px;
  	width:200px;
  	height:90px;
  	text-align:center;
  	border: solid;
  	background-color: white;
}

div.hidden{
	visibility: hidden;

}

div.shown{
	visibility: visible;
}
